In [1]:
x=['Ravi','Prakash',100,22,226022,'Lucknow','Reginal manager',True,False]

data={'name':'Ravi Prakash','Eid': 100,'age':22,'pincode':226022,'city':'Lucknow','design':'General Manager',
          'is_married':True,'have_children':True}

In [2]:
print(data)

{'name': 'ravi Parkash', 'Eid': 100, 'age': 22, 'pincode': 226022, 'city': 'Lucknow', 'design': 'Regional manager', 'is_married': True, 'have_children': True}

In [4]:
data['design']

'Regional manager'

In [10]:
data['age']=23
data['name']='Gopal Mishra'
data['design']='Data Analysis Manager'
data

{'name': 'Gopal Mishra',
 'Eid': 100,
 'age': 23,
 'pincode': 226022,
 'city': 'Lucknow',
 'design': 'Data Analysis Manager',
 'is_married': True,
 'have_children': True}

In [14]:
data['dept']='Analysis'    # adding data
data

{'name': 'Gopal Mishra',
 'Eid': 100,
 'age': 23,
 'pincode': 226022,
 'city': 'Lucknow',
 'design': 'Data Analysis Manager',
 'is_married': True,
 'have_children': True,
 'dep[t': 'Analysis',
 'dept': 'Analysis'}

In [15]:
data.pop('is_married')

True

In [16]:
data

{'name': 'Gopal Mishra',
 'Eid': 100,
 'age': 23,
 'pincode': 226022,
 'city': 'Lucknow',
 'design': 'Data Analysis Manager',
 'have_children': True,
 'dep[t': 'Analysis',
 'dept': 'Analysis'}

In [17]:
#basic loop example

for i in data:
    print(i)

name
Eid
age
pincode
city
design
have_children
dep[t
dept

In [18]:
# if you want variable with values

for k,v in data.items():
    print(k,v)

name Gopal Mishra
Eid 100
age 23
pincode 226022
city Lucknow
design Data Analysis Manager
have_children True
dep[t Analysis
dept Analysis

In [19]:
# this is also works
for i in data:
    print(i,data[i])

name Gopal Mishra
Eid 100
age 23
pincode 226022
city Lucknow
design Data Analysis Manager
have_children True
dep[t Analysis
dept Analysis

In [20]:
# odd index from alist
x=[1,2,3,4,5,6,7,8,9,10]
x_odd=x[1::2]
print(x)
print(x_odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

In [22]:

user_data={}
for i in range(5):
    key=input('enter name')
    val=input('enter value')
    user_data[key]=val
print(user_data)

{'maggie ': '28', 'butter': '48', 'paaav': '45', 'noodles': '65', 'refined': '1987'}

In [24]:
# store students marks in dictonary

report={
    'Raja':{
        'eng':[50,80],
        'hindi':[39,50],
        'maths':[39,59]
    },
    'Rani':{
        'eng':[29,49],
        'hindi':[40,70],
        'maths':[2,1]
    }
}
report

{'Raja': {'eng': [50, 80], 'hindi': [39, 50], 'maths': [39, 59]},
 'Rani': {'eng': [29, 49], 'hindi': [40, 70], 'maths': [2, 1]}}

In [26]:
report['Raja']["Comp"]=[50,90]
report

{'Raja': {'eng': [50, 80],
  'hindi': [39, 50],
  'maths': [39, 59],
  'Comp': [50, 90]},
 'Rani': {'eng': [29, 49], 'hindi': [40, 70], 'maths': [2, 1]}}

In [29]:
report['Rani']['hindi']

[40, 70]

In [30]:
for name,marks in report.items():
    print(name)

Raja
=>eng=[50, 80]
=>hindi=[39, 50]
=>maths=[39, 59]
=>Comp=[50, 90]
Rani
=>eng=[29, 49]
=>hindi=[40, 70]
=>maths=[2, 1]

In [ ]:
# wap to create a contact dictonary, which will have some names and phone numbers .The user can search for a name
#through input if the name in the dictobnary then displays the phone number else ask the to user to add the numnber
 #   of the person by him/her Self   

 # contact={'police}:112

In [20]:

digipodium_phonebook={
    'Gopal':{
        'Number':'9140530493'
        },
    'Police':{
        'Number':'112'
    },
    'Ambulance':{
        'Number':'119'
    },
    'Zaid_sir':{
        'Number':'7860380291'
    },
    'Vikas':{
        'Number':'7394980168'
    },
    'Anshika':{
        'Number':'9519103458'
    },
    'Divyanshi_praveen_Nigam':
    {
        'Number':'8810770671'
    },
    'Toahid_Ansari':{
        'Number':'9118154947'
    },
    'Shubhankar_Singh':{
        'Number':'8577984118'
    },
    'Aasim_kasim':{
        'Number':'7991553524'
    },
    'Kartikey':{
        'Number':'7007290425'
    }

}
name=input('Enter name which number you want:')
if name in digipodium_phonebook:
    print(name,digipodium_phonebook[name]['Number'])
else:
    print("you want to add details")
    print('y','n')
    x=input('enter answer')
    print(x)
    if x==y:
        num=input('Enter number')
        digipodium_phonebook.update({name:{'Number':})
        

print('thank you')

SyntaxError: invalid syntax (2969545272.py, line 41)

In [ ]:
def pythagoras():
    per=int(input("Enter the perpendicular of the triangle"))
    base=int(input("enter the base  of the traingle"))
    hyp=(per**2)**0.5
    print(hyp)

    pythagoras()
    pythagoras()