In [17]:
# defining the function
def hi():
    print('Hi How are u?')

In [18]:
# calling the function
hi()

Hi How are u?

In [2]:
for i in range(3):
    hi()

Hi How are u?
Hi How are u?
Hi How are u?

In [ ]:
2. function thats return a value

In [16]:
def grn():
    from random import randint
    return randint(1,100)

In [15]:
grn()

493

In [18]:
ans=grn()
print(ans)

86

In [20]:
ans=grn()+grn()-grn()
print(ans)

4

3. functions with arguments/parameters

In [9]:
def si(p,r,t):
    print('Simple Interest=>',(p*r*t)/100)

In [21]:
def add(a,b):
    print('sum of two',(a+b))

In [23]:
add(2,5)

sum of two 7

In [10]:
si(5000,5.42,4)

Simple Interest=> 1084.0

4.Function with arguments and return  values

In [25]:
def area_of_circle(circumfrence):
    '''
    This Function calciulates the area of circle from the circumfrence
    '''
    r=circumfrence/(2*3.14)
    return 3.14 *r**2

In [26]:
area_of_circle(10) + area_of_circle(20)

39.808917197452224

function parameters
1.positional arguments
2.required arguments
3.default arguments
4.variable length arguments **args
5.keyword arguments  **kwargs

In [28]:
def add(a,b,c,d):
    return a+b+c+d

In [29]:
add(10,10,10,10)

40

In [30]:
def si_2(p=10000,r=1.1,t=10):
   return (p*r*t)/100

In [33]:
si_2(r=1)

1000.0

In [19]:
print(si_2())
print(si_2(p=12000))
print(si_2(p=12000,r=3))
hi()
print(si_2(p=12000,r=3,t=5))
print(si_2(12000,3,5))

1100.0
1320.0000000000002
3600.0
Hi How are u?
1800.0
1800.0

variable arguments

In [34]:
def multiply(*num):
    ans=1
    for i in num:
        ans *= i
    return ans

In [34]:
multiply(2,3,4,5,6)

720

In [37]:
multiply(4,8)

32

In [35]:
print(1,2,3,4,5,6)

1 2 3 4 5 6

keyword arguments **kwargs

In [35]:
def handle_data(**data):
    for k,v in data.items():
        if isinstance(v,(int,float)):
            print(f"{k}=>{v}")
        else:
            print('invalid entry')

In [38]:
handle_data(name='raj',age=23,salary=10000,address='delhi')

invalid entry
age=>23
salary=>10000
invalid entry

LAMBDA EXPRESSION
f(x)=x^2 +2x+1

In [39]:
def eq1(x):
    return x**2 + 2*x+1

In [4]:
eq1(3)

16

var = lambda argument:expression

In [59]:
f = lambda i : i**2 + 2*i+ 1

In [60]:
print(f(4))
print(f(41))
print(f(24))
print(f(65))

25
1764
625
4356

In [8]:
g = lambda x,y: x**2 + 2*x+y

In [9]:
print(g(4,5))
print(g(13,5))

29
200

In [10]:
data=[34,2,5,4,45,666,5,55]
list(map(lambda x: x**2 , data))

[1156, 4, 25, 16, 2025, 443556, 25, 3025]

In [15]:
names = ['Raj','Rhaul','Ravi','Ramesh','Rajesh']
list(map(lambda n: n.upper(),names))

['RAJ', 'RHAUL', 'RAVI', 'RAMESH', 'RAJESH']

In [17]:
x=[1,2,3,5,6]
y=[2,3,4,6,7]
z=list(map(lambda i,j: i*j,x,y))
z

[2, 6, 12, 30, 42]

In [21]:
x=[4,2,3,6,5,4,4,7,8,9,32,2,32,5]
numb_x=list(filter(lambda i:i >3,x))
print(numb_x)

[4, 6, 5, 4, 4, 7, 8, 9, 32, 32, 5]

In [19]:
x=[45,23,56,98,0,23,5,4,5,6,8]
even_x = list(filter(lambda i: i%2==0,x))
print(even_x)

[56, 98, 0, 4, 6, 8]

In [22]:
x=[4,2,3,6,5,4,4,7,8,9,32,2,32,5]
numb_x=list(filter(lambda i:i >3,x))
print(numb_x)

[4, 6, 5, 4, 4, 7, 8, 9, 32, 32, 5]

In [63]:
# single input with multiple values used in competitive exam
data = list(map(int,input().split()))

In [40]:
x=int(input('Enter any number'))
print(x)
if x%2==0 and x>2  and x<=5:
    print('Not Weird')
elif x>=6 and x<=20:
    print('Weird')
elif(x>20):
    print('Not Weird')
else:
    print('Not Weried')

20
Weird